@*Categories/index*@

@page
@model StoreSln_OOP.Pages.Category.CategoriesModel

<div class="border p-3 mt-4">
    <div class="pt-2 pb-4">
        <h2 class="text-primary">Loại Hàng</h2>
        <hr />
    </div>
    <div class="submit-form pt-2 pb-4 border">
        <form method="post">
            <div class="mb-3">
                <label class="form-label mx-3" for="Name" style="width:100px;">Tên loại hàng: </label>
                <input class="w-50" type="text" name="SearchName">
                <button class="btn btn-primary mx-4" type="submit"><i class="bi bi-search"></i> Tìm kiếm</button>
            </div>

        </form>
    </div>
    <div class="pt-2 pb-4">
        <table class="table table-bordered table-striped" width="100%">
            <tr>
                <th>Mã loại hàng</th>
                <th>Tên loại hàng</th>
                <th> </th>
            </tr>

            @foreach (var c in Model.Categories)
            {
                <tr>
                    <td>@c.ID</td>
                    <td>@c.Name</td>
                    <td style="width:200px;">
                        <a asp-page="EditCategory" asp-route-id="@c.ID" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Sửa
                        </a>
                        <a asp-page="DeleteCategory" asp-route-id="@c.ID" class="btn btn-danger mx-2">
                            <i class="bi bi-trash3-fill"></i> Xóa
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="d-flex flex-row-reverse">
        <a asp-page="AddCategory" class="btn btn-primary"><i class="bi bi-plus-square"></i> Thêm loại hàng mới</a>
    </div>
</div>