@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center div-topcenter">
        <h2 class="text-primary">Đồ án cuối kỳ môn Lập Trình Hướng Đối Tượng</h2>
        <h2 class="text-primary mb-3">Quản lý cửa hàng</h2>
        <h4 class="text-secondary">Học viên: Đặng Vũ Ngọc Giang</h4>
        <h4 class="text-secondary mb-0">MSSV: 21880213</h4>
    </div>
</div>
